.jumbotron{
    background-color: rgb(114, 201, 172);
    color: black;
    margin-top: 50px;
}

body{
    background-color: beige;
}

footer{
    padding: 10px 10px 0 10px;
    margin-top:10px;
    background-color: rgb(114, 201, 172);
    margin-bottom: 0px;
    color:black;
}

.btn {
    background-color: rgb(114, 201, 172);
    color: black;
}
.btn-outline {
    background-color: white;
    color: green;
    font-weight: 600;
    border-color: rgb(114, 201, 172);
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;

}

.btn-reserva{
    width: 100%;
    
}

.footer-address-icon{
    padding-right: 10px;
}


.footer-link{
    color: #333333;
    font-weight: 600;
}